RealEstate/Khoonat/MAIN/Source/Core.Impl/Service References/ExternalServices.Farapayamak.AlertsWebService/alerts.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAlerts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="location" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAlertsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAlertsResult" type="tns:ArrayOfAlertsList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAlertsList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AlertsList" nillable="true" type="tns:AlertsList" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AlertsList">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AlertID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AlertType" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="AlertLocation" type="s:unsignedByte" />
          <s:element minOccurs="0" maxOccurs="1" name="AlertTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AlertText" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAlertsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAlerts" />
  </wsdl:message>
  <wsdl:message name="GetAlertsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAlertsResponse" />
  </wsdl:message>
  <wsdl:portType name="AlertsSoap">
    <wsdl:operation name="GetAlerts">
      <wsdl:input message="tns:GetAlertsSoapIn" />
      <wsdl:output message="tns:GetAlertsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AlertsSoap" type="tns:AlertsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAlerts">
      <soap:operation soapAction="http://tempuri.org/GetAlerts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AlertsSoap12" type="tns:AlertsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAlerts">
      <soap12:operation soapAction="http://tempuri.org/GetAlerts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Alerts">
    <wsdl:port name="AlertsSoap" binding="tns:AlertsSoap">
      <soap:address location="http://www.farapayamak.ir/post/alerts.asmx" />
    </wsdl:port>
    <wsdl:port name="AlertsSoap12" binding="tns:AlertsSoap12">
      <soap12:address location="http://www.farapayamak.ir/post/alerts.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>